extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li.active
        a(href="/tasks") Home
      li
        a(href="/tasks") Todo List
      li
        a(href="/tasks") Completed
  .home
    p This is an example of create, read, update, delete web application built with Express.js , and MongoDB.
      |.
    p The full source code is available at&nbsp;
      a(href='http://github.com/sagardere/todo-express') github.com/sagardere/todo-express
      |.
    